#hero {
    width: 100%;
    height: 500%;
    background: #f7f7f7;
    margin: 72px 0 -72px 0;
}

#hero h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #24292e;
}

#hero h3 {
    margin-bottom: 30px;
    font-size: 24px;
}

#zipform {
    border: none;
    padding: 18px 10px;
    height: 30px;
    margin-top: 30px;
    background: #ffc154;
    color: #24292e;
}

::placeholder {
    color: #24292e;
}

#zipsubmit{
    margin-left: 25px; 
    border: none;
    padding: 6px 20px;
    text-decoration: none;
    background: #ffc154;
    color: #24292e;
    cursor: pointer;
}
.earth {
    height: 300px;
    width: 350px;
}